* {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background: whitesmoke;
}

.intro-section {
  background-image: url(img/header-background-mobile.svg);
  border-bottom-left-radius: 40px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header a {
  padding: 1em;
}

.header i {
  padding: 1em;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #172b4d;
  opacity: 0.95;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay i {
  padding: 0.5em;
}

.menu {
  list-style-type: none;
  position: relative;
  top: 12%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
}

.overlay .closebtn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 30px;
  color: #fff;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 10px;
    right: 35px;
  }
}

.menu li {
  font-size: 15px;
  color: #fff;
  display: block;
  transition: 0.3s;
  padding-bottom: 1.6em;
}

.menu li a {
  text-decoration: none;
  padding-right: 1em;
  color: white;
  font-family: "Poppins";
  font-size: 30px;
  font-weight: 900;
}

.fab {
  font-size: 25px;
}

.show {
  display: flex;
}

.logo {
  position: static;
  width: 76px;
  height: 20px;
  left: 12px;
  top: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #6070ff;
  flex: none;
  order: 0;
  align-self: center;
  margin: 0px 0px;
}

#rectangle-4 {
  position: absolute;
  width: 95.58px;
  height: 22.02px;
  left: 234px;
  top: 115.79px;
  background: #ebebff;
  transform: rotate(-30deg);
}

#ellipse-3 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: 263px;
  top: 122.24px;
  border-radius: 50%;
  background: #6070ff;
}

#ellipse-15 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 53px;
  top: 445px;
  background: #fff;
  border: 1px solid #cbcdff;
  box-sizing: border-box;
}

#ellipse-14 {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 298px;
  top: 275px;
  background: #fff;
  border: 1px solid #cbcdff;
  box-sizing: border-box;
}

#ellipse-8 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 214px;
  top: 110px;
  background: #fff;
  border: 1px solid #cbcdff;
  box-sizing: border-box;
}

#ellipse-11 {
  position: absolute;
  width: 28.5px;
  height: 14.25px;
  left: 16.04px;
  top: 90.47px;
  background: #6070ff;
  transform: rotate(-156.88deg);
}

#ellipse-12 {
  position: absolute;
  width: 24.14px;
  height: 12.07px;
  left: 301.76px;
  top: 360.69px;
  background: #6070ff;
  transform: rotate(-166.08deg);
}

#ellipse-13 {
  position: absolute;
  width: 30.1px;
  height: 30.1px;
  left: 292.18px;
  top: 240.44px;
  background: #ebebff;
  transform: rotate(69.41deg);
}

#ellipse-4 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 237px;
  top: 437.1px;
  background: #6070ff;
}

#rectangle-5 {
  position: absolute;
  width: 68.06px;
  height: 12.18px;
  left: 191.82px;
  top: 454px;
  background: #ebebff;
  transform: rotate(23.34deg);
}

#ellipse-5 {
  position: absolute;
  width: 11px;
  height: 10px;
  left: 182.98px;
  top: 155.81px;
  background: #cbcdff;
  transform: rotate(52.97deg);
  background: #cbcdff;
  transform: rotate(52.97deg);
}

#rectangle-7 {
  position: absolute;
  width: 26.46px;
  height: 4.73px;
  left: 177.18px;
  top: 151.59px;
  background: #6070ff;
  transform: matrix(0.76, 0.65, 0.65, -0.76, 0, 0);
}

.header-text {
  margin-top: 2em;
}

.header-text h2 {
  position: static;
  width: 100%;
  height: auto;
  left: 24px;
  top: -184px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  align-self: center;
  margin: 3em 0 12px 12px;
}

.header-text p {
  position: static;
  width: 327px;
  height: auto;
  left: 24px;
  top: 276px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  align-self: center;
  margin: 0px 12px;
  color: #000;
}

.project-1 {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  flex: none;
  order: 1;
  align-self: center;
  margin: 8em 1em;
}

.project_image {
  position: static;
  width: 295px;
  height: 220px;
  left: 16px;
  top: 16px;
  background: url(image_processing20200716-21735-f07s4k.png);
  border-radius: 8px;
  flex: none;
  order: 0;
  align-self: center;
  margin: 0px 12px;
}

.project_description {
  text-align: left;
}

.project_description div h2 {
  position: static;
  width: 295px;
  height: 36px;
  left: 0px;
  top: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  align-self: center;
}

.project_description h2 {
  font-size: 20px;
  font-weight: bolder;
}

.metadata {
  display: flex;
  padding: 0;
  margin-top: 1em;
}

.company {
  color: #172b4d;
  padding-right: 1em;
  list-style-type: none;
  font-family: "Poppins", "sans-serif";
}

.blurb {
  position: static;
  width: 295px;
  height: auto;
  left: 0px;
  top: 92px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  align-self: center;
  margin-top: 1.5em;
}

.languages {
  display: flex;
  list-style-type: none;
  align-content: flex-start;
  padding-left: 0;
  font-family: "Poppins", "san-serif";
  text-align: center;
  font-size: normal;
  margin-top: 0.5em;
}

.languages li {
  color: #172b4d;
  text-align: center;
  border-radius: 8px;
  width: fit-content;
  height: 20px;
  margin-right: 1em;
  background: #ebebff;
  font-size: 12px;
}
.languages li p {
  text-align: center;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.connect {
  padding-top: 2em;
}

.socials {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  padding-left: 0.5em;
  padding-bottom: 4em;
}

.socials li {
  padding-left: 0.5em;
}

.see-project,
#get-resume {
  display: flex;
  padding: 12px;
  position: absolute;
  width: 100px;
  height: 44px;
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  margin-top: 1.9em;
  font-family: "Poppins", "san-serif";
  color: #7f8cff;
}

.text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: grey;
  flex: none;
  align-self: center;
  padding-right: 14px;
}

.project-1 {
  box-shadow: 3px 3px 3px 3px whitesmoke;
}

.about {
  background: white;
  border-top-right-radius: 55px;
}

.about-me {
  padding-top: 3em;
}

#get-resume {
  margin-left: 1em;
}

.tech-stack {
  margin-top: 3em;
  margin-left: 1em;
}

.about-me h1 {
  position: static;
  width: 295px;
  height: 36px;
  left: 0px;
  top: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  align-self: center;
  padding-left: 0.5em;
}

.contact {
  margin-top: 3em;
  background: purple;
  border-top-left-radius: 50px;
  display: flex;
  justify-content: center;
}

.contact-me {
  margin-top: 2em;
  max-width: 200px;
}

.contact-me h2 {
  font-family: "Poppins", "san-serif";
  text-align: center;
  color: white;
  font-weight: 900;
  padding-top: 2em;
  display: flex;
  justify-content: center;
}

.contact-me p {
  text-align: center;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #fff;
  color: #172b4d;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #fff;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/* Project Description */
@media only screen and (min-width: 768px) {
  .header i {
    display: none;
  }
}
