* {
  box-sizing: border-box;
}
body 
{
  position: absolute;
  width: 350px;
  height: 718px;
  left: 0px;
  top: 0px;
  overflow-y: hidden;

  /* Neutrals/N0 */

  background: #FFFFFF;
}
.header {
  display: flex;
  justify-content: space-between;
}
.links {
  display: none;
}
.menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.show {
  display: flex;
}
.logo {
  position: static;
  width: 76px;
  height: 20px;
  left: 12px;
  top: 10px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */

  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;

  /* Primary/B400 */

  color: #6070FF;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: center;
  margin: 0px 0px;

}
#rectangle-4 {
  position: absolute;
  width: 95.58px;
  height: 22.02px;
  left: 294px;
  top: 165.79px;

  /* Primary/B50 */

  background: #EBEBFF;
  transform: rotate(-30deg);
}
#ellipse-3 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: 323px;
  top: 152.24px;
  border-radius: 50%;

  /* Primary/B400 */

  background: #6070FF;
}
#ellipse-15 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 53px;
  top: 445px;

  /* Neutrals/N0 */

  background: #FFFFFF;
  /* Primary/B100 */

  border: 1px solid #CBCDFF;
  box-sizing: border-box;
}
#ellipse-14 {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 298px;
  top: 315px;

  /* Neutrals/N0 */

  background: #FFFFFF;
  /* Primary/B100 */

  border: 1px solid #CBCDFF;
  box-sizing: border-box;
}
#ellipse-8 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 214px;
  top: 110px;

  /* Neutrals/N0 */

  background: #FFFFFF;
  /* Primary/B100 */

  border: 1px solid #CBCDFF;
  box-sizing: border-box;
}

#ellipse-11 {
  position: absolute;
  width: 28.5px;
  height: 14.25px;
  left: 16.04px;
  top: 90.47px;

  background: #6070FF;
  transform: rotate(-156.88deg);
}

#ellipse-12 {
  position: absolute;
  width: 24.14px;
  height: 12.07px;
  left: 341.76px;
  top: 360.69px;
  background: #6070FF;
  transform: rotate(-166.08deg);
}

#ellipse-13 {
  position: absolute;
  width: 30.1px;
  height: 30.1px;
  left: 332.18px;
  top: 340.44px;

  background: #EBEBFF;
  transform: rotate(69.41deg);
}
#ellipse-4 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 237px;
  top: 477.1px;

  /* Primary/B400 */

  background: #6070FF;
}
#rectangle-5 {
  position: absolute;
  width: 68.06px;
  height: 12.18px;
  left: 191.82px;
  top: 494px;

  /* Primary/B50 */

  background: #EBEBFF;
  transform: rotate(23.34deg);
}
#ellipse-5 {
  position: absolute;
  width: 11px;
  height: 10px;
  left: 182.98px;
  top: 155.81px;
  background: #CBCDFF;
  transform: rotate(52.97deg);

  /* Primary/B100 */

  background: #CBCDFF;
  transform: rotate(52.97deg);

}
#rectangle-7 {
  position: absolute;
  width: 26.46px;
  height: 4.73px;
  left: 177.18px;
  top: 151.59px;
  background: #6070FF;
  transform: matrix(0.76, 0.65, 0.65, -0.76, 0, 0);
}
.header-text {
  margin-top: 4em;
}
.header-text h2 {
  position: static;
  width: 327px;
  height: auto;
  left: 24px;
  top: -184px;
  

  /* Header / 2 */

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 52px;
  /* or 130% */

  display: flex;
  align-items: center;

  /* Neutrals/N800 */

  color: #172B4D;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: center;
  margin: 0px 12px;
}
.header-text p {
  position: static;
  width: 327px;
  height: auto;
  left: 24px;
  top: 276px;

  /* Body / 2 */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */


  /* Neutrals/N600 */

  color: #344563;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: center;
  margin: 0px 12px;
}

.connect {
  padding-top: 2em;
  font-size: larger;
}
.socials {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  padding-left: 0.8em;
}
.socials li {
  padding-left: 0.5em;
}
.header a {
  padding: 1em;
}
.header i {
  padding: 1em;
}
.menu li {
  justify-items: space-between;
}
.menu li a {
  text-decoration: none;
  padding-right: 1em;
}

@media only screen and (min-width: 768px){
  .menu {
    flex-direction: row;
  }
  .links {
    display: flex;
  }
  .header i {
    display: none;
  }
}